*.swp
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.slo
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.lai
logs
*.log
pids
*.pid
lib-cov
compiled
.lock-wscript
*.autosave
build/
*~
